<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>poe.ninja Price Check Helper</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="globalShortcut-options">
            <form>
                <label class="options--label options--label--hotkey" for="globalShortcut_pricecheck">Price-Check</label>
                <input class="options--input options--input--hotkey" id="globalShortcut_pricecheck">
            </form>
        </div>
    </body>
</html>
