<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>poe.ninja Price Check Helper</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="../view.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="price-check">
      <div class="item">
        <div class="item--header">
            <img class="item--icon" id="item-icon" height="32">
            <div class="item--name" id="item-name"></div>
        </div>
        <div class="item--body">
          <div class="item--value">
            <span class="item--chaos-value" id="chaos-value"></span>
            <span>C</span>
          </div>
        </div>
      </div>
    </div>
    <div class="debug-panel">
      <button id="show-debug-info">Toggle Debug Information</button>
      <pre id="dump" style="display:none"></pre>
    </div>
    <script>window.fasfaf = 'foofoo'</script>
    <script src="./js/main.js"></script>
  </body>
</html>
