<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>poe.ninja Price Check Helper</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="../view.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
</head>
<body>
    <div class="item-list"></div>
    <div class="templates hidden">
        <div class="item-template">
            <div class="header">
                <img class="icon" height="32">
                <span class="name"></span>
            </div>
            <div class="body">
                <div class="value-container">
                    <span class="chaos-value"></span>
                    <span>C</span>
                </div>
                <div>Variant: <span class="variant"></span></div>
                <div>Required Level: <span class="required-level"></span></div>
                <div>Links: <span class="num-links">0</span></div>
                <div>Confidence: <span class="confidence"></span></div>
            </div>
        </div>
        <div class="currency-item-template">
            <div class="header">
                <img class="icon" height="32">
                <span class="name"></span>
            </div>
            <div class="body">
                <div>
                    <span>You will pay <span class="pay"></span> items for 1 chaos</span>
                </div>
                <div>
                    <span>You will receive <span class="receive"></span> chaos for 1 item</span>
                </div>
            </div>
        </div>
        <div class="item-not-found-template">
            <h3>Item not found on poe.ninja</h3>
            <p>Might just be a bug</p>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>

</html>