body {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
}

.item, .currency-item {
    display: flex;
    flex-direction: column;
}

.item-header {
    display: flex;
}

.item-name {
    font-size: 14pt;
}

.item-value-container {
    font-size: 24pt;
}

.matching-item-level {
    border: #00AA00 1px solid;
}

.hidden {
    display: none;
}
